/*------------ index -----------css */


.imgIndex {
	width: 80px;
	border-radius: 50%;
	animation-name: rotate;
	animation-duration: 120s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.rounded {
	width: 110px;
	/* border: 1px solid grey;
    border-radius: 5px; */
	/* text-align: center; */
}

.slightly-right {
	/* margin-left: auto; */
	margin-top: 25%;
	/* Adjust this value to position the image as desired */
}

.navbarIndex {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}

.navbarIndex .navbar-brandIndex {
	color: #ffffff;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
	/* Horizontal gradient */
	display: flex;
	flex-direction: column;
}

#paddle-1 {
	background-color: #0ce39d;
	padding: 5px 6px;
	margin-left: 1%;
	width: 5px;
	height: 80px;
	display: flex;
	border-radius: 5%;
	animation-name: drive;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#paddle-2 {
	background-color: #0ce39d;
	padding: 5px 6px;
	margin-right: 1%;
	width: 5px;
	height: 80px;
	display: flex;
	border-radius: 5%;
	animation-name: drive-2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#paddle-1:hover {
	background-color: magenta;
	transition: 1s;
}

#paddle-2:hover {
	background-color: magenta;
	transition: 1s;
}

.container-fluidIndex {
	display: flex;
	justify-content: space-between;
}

.mainIndex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#hookIndex {
	font-size: 10em;
	font-family: zen tokyo zoo;
	letter-spacing: 15px;
	text-transform: uppercase;
	/* width: 100%;
	text-align: center; */
	line-height: 1.70em;
	outline: none;
	padding-top: 10%;
	border-color: rgb(255, 255, 255);
	color: rgb(255, 0, 255);
	cursor: pointer;
}

.navbar-brandIndex {
	color: #ffffff;
}

.btn-gradient-signupIndex {
	background: linear-gradient(to right, #358B9A, #0BC2DF);
	cursor: pointer;
	font-family: montserrat;
	border: none;
	font-weight: 700;
}

.btn-gradient-signupIndex:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}


#description {
	font-size: 16px;
	width: 400px;
	height: 40px;
	margin-bottom: 4.5%;
	padding: 10px;
	display: block;
	color: #d4d4d4;
	font-weight: 700;
}

@keyframes drive {
	from{transform: translateY(0)}
	to {transform: translateY(800px)}
}
@keyframes drive-2 {
	from{transform: translateY(500px)}
	to {transform: translateY(0px)}
}



/*---------------------- sign in css -----------------*/

.navbarSI {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}




.mainSI {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.navbar-brandSI {
	color: #ffffff ;
}

.btnSI {
	background-color: #ffffff;
	padding: 6px 0px;
	width: 160px;
}

.auth-form {
	display: flex;
	justify-content: space-evenly;
}

/* panel for signin and register */
.panel {
	background-color: #151515;
	box-shadow: #737373  0px 0px 30px;
	border-radius: 10px;
	padding: 15px 25px;
	max-width: 414px;
	min-height: 458px;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
  }

.btn-gradient-signupSI {
	background: linear-gradient(to right, #358B9A, #0BC2DF);
	cursor: pointer;
	font-family: montserrat;
	border: none;
	font-weight: 700;
	margin-top: 90px;
}
.btn-gradient-signupSI:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}


.aSI {
	color: grey;
}
.aSI:hover {
	color: #d4d4d4;
	text-decoration : none;
}
.pSI {
	color: grey;
}



.foot {
	/* background-color: blue; */
	/* background: linear-gradient(90deg, #011007, #06191e, #02110E); */
	/* /* display: flex; */
	/* align-items: end;
	justify-content: start; */
	/* align-items: end; */ 
	/* font-size: 1.7dvb; */
	margin-left: 50px;
	margin-bottom: 10px;
	/* margin-top: 50px; */
	
		/* position: relative; 
		bottom: 0; 
		left: 0; 
		z-index: 10; */
	
}
footer{
	background-color: linear-gradient(90deg, #011007, #06191e, #02110E);
	height: 100\%;
	display: flex;
	align-items: end;
	justify-content: start;
}



/* ----------------- register css --------------- */

.navbarS {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}




.mainS {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.navbar-brand, .nav-link {
	color: #ffffff ;
}

.btnS {
	background-color: #ffffff;
	padding: 6px 0px;
	width: 160px;
}

.btn-gradient-signupS {
	background: linear-gradient(to right, #358B9A, #0BC2DF);
	cursor: pointer;
	font-family: montserrat;
	border: none;
	font-weight: 700;
}
.btn-gradient-signupS:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}




/* footer .navbar {
    display: flex;
    justify-content: flex-start; 
    padding: 20px 3em;
    background: linear-gradient(90deg, #011007, #06191e, #02110E); 
	font-family: montserrat;
	font-size: 12px;
}

 h1 {
	font-family: montserrat;
	font-size: 18px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #F8F8F8;
}

h6 {
	font-family: montserrat;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #F8F8F8;
} */

.inputS::placeholder {
	font-size: 10px;
	color: #737373;
	font-weight: bold;
}



/* ---------------- settings css ---------------- */



/* ------------------ username and PONGERS drop down list menu------------------*/
.containerSET{
	min-width: 650px;
}
.r1, .r2, .r3 {
	color: white;
	margin: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
}
.menuBtn {
	display: inline-block;
	flex-direction: column;
  	cursor: pointer;
    margin: 15px;
}

.iconUsername {
    display: flex;
    justify-content: flex-end;
    background-color: #1c2324;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    float: right;
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c2324;
	border-radius: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .iconUsername:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
.userIcon {
    width: 20px;
    margin-right: 3px;
}
.username {
    color: #cde0e3;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 110%;
    font-family: Montserrat, Arial, Helvetica, sans-serif; 
}
.username:hover {
    /* background-color: red; */
    color: #d4d4d4;
	text-decoration : none;
  }

.pong {
display: flex;
}

/* start end menu drop content */

/* .pongFlex {
    display: flex;
    justify-content: flex-start;
    background-color: #1c2324;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    float: left;
    overflow: hidden;
} */
.dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #1c2324;
	border-radius: 10px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	justify-content: center;
	z-index: 1;
}

.cntPadd {
	padding: 10px;
	padding-left: 22%;
	display: flex;
    flex-direction: column;
}
.pongFlex:hover .dropdown-content2 {
display: flex;
flex-direction: column;
margin-top: 40px;
}
.mBTN {
    color: #cde0e3;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 110%;
    font-family: Montserrat, Arial, Helvetica, sans-serif; 
}
.mBTN:hover {
    /* background-color: red; */
    color: #d4d4d4;
	text-decoration : none;
  }
.search {
	margin: 10px;
	border-radius: 10px;
}

.pongFlex {
    display: flex;
    flex-direction: row;
    height: 50px;
}
/* end */


/* .dropdown-content {
display: none;
position: absolute;
background-color: inherit;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(219, 209, 209, 0.2);
z-index: 1;
} */




/* h1 {
	color: white;
	font-size: 9dvb;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font: bold;
} */
.d1, .d2, .d3 {
    width: 25px;
	height: 3px;
	background-color: rgb(255, 255, 255);
	margin: 2px 0;
}

.navbarAB {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}




/* main { */
	/* background-color: #00dbff;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center;
	height: 100%;  */
/* } */
/* 
#hook {
	font-size: 10em;
	font-family: zen tokyo zoo;
	letter-spacing: 15px;
	text-transform: uppercase;

	line-height: 1.70em;
	outline: none;
	padding-top: 10%;
	border-color: rgb(255, 255, 255);
	color: rgb(255, 0, 255);
	cursor: pointer;
} */
.navbar-brandAB{
	color: #ffffff ;
}

.settingDiv {
	display: block;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 80px;
}
/* .LpanRpan {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: ;
	height: 80%;
} */
.Lpan {
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* height: 100%; */
	/* max-width: 600px; */
	/* font-size: 2dvb; */
	/* background-color: rgb(190, 32, 32); */
	/* width: 50%;
	height:100%; */
	/* margin-right: 4px;
	padding: 10px;
	border-radius: 15px;
	min-width: 400px;
	max-width: 900px; */
}
.Rpan {
	/* background-color: red; */
}

.r1 {
	display: block;
	background-color: rgb(37, 34, 34);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px;
	height: 33%;
	border-radius: 15px;
}

.r1BTN {
	display: flex;
	justify-content: end;
	margin-top: 9px;
}
.cancel {
	color: white;
	border-radius: 20px;
	margin-right: 10px;
	/* margin-top: 60px; */
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	background-color: #151515;
	border: none;
}
.save {
	color: white;
	border-radius: 20px;
	margin-right: 10px;
	/* margin-top: 60px; */
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	background-color: #151515;
	border: none;
	background: linear-gradient(to right, #358B9A, #0BC2DF);
}
.save:hover, .uplBTN:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}
.r2 {
	background-color: rgb(37, 34, 34);
	margin: 5px;
	padding: 10px;
	height: 33%z;
	border-radius: 15px;
}
.r3 {
	border-radius: 15px;
	background-color: rgb(37, 34, 34);
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding: 10px;
	height: 33%;
}



/* left panel */
.imgLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 20px; */
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: rgb(136, 212, 250);
}
.icon {
	width: 150px;
	margin: 50px;
}
label {
	color: white;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	width: 300px;
	font-family: sans-serif;
	cursor: pointer;
}
.uplIcon {
	width: 20px;
	margin-bottom: 9px;
	margin-right: 10px;
}  
.uplBTN {
	/* display: flex;
	justify-content: start;
	padding-left: 10%;
	margin-left: auto;
	margin-right: auto; */
	margin-top: 20px;
	width: 300px;
	height: 50px;
	border-radius: 15px;
	border: none;
	background: linear-gradient(to right, #358B9A, #0BC2DF);
}
.upltext {
	margin-top: 6px;
}
.LBTN {
	display: flex;
	justify-content: end;
	/* margin-top: 100px; */
}
.uploadImg {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}



