#mute-button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 20px;
	background-color: #ff4b4b;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  #mute-button:hover {
	background-color: #ff6666;
  }
  body {
	margin: 0;
}
canvas {
	display: block;
}