.box{
    background-color: #282828;
    color: white;
    /* border: 1px solid blue; */
    /* min-height: 30px; */
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.box2{
    background-color: #282828;
    color: white;
    /* border: 1px solid blue; */
    min-height: 30px;
    border-radius: 10px;
    display: block;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}