/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */


.navbar {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(90deg, #011007, #06191e, #02110E); /* Horizontal gradient */
	display: flex;
	flex-direction: column;
}


main {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#hook {
	font-size: 10em;
	font-family: zen tokyo zoo;
	letter-spacing: 15px;
	text-transform: uppercase;

	line-height: 1.70em;
	outline: none;
	padding-top: 10%;
	border-color: rgb(255, 255, 255);
	color: rgb(255, 0, 255);
	cursor: pointer;
}
.navbar-brand, .nav-link {
	color: #ffffff ;
}

.btn {
	background-color: #ffffff;
	padding: 6px 0px;
	width: 160px;
}

.auth-form {
	display: flex;
	justify-content: space-evenly;
}

.panel {
	background-color: #151515;
	box-shadow: #737373  0px 0px 30px;
	border-radius: 10px;
	padding: 15px 25px;
	max-width: 414px;
	min-height: 458px;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
  }

.btn-gradient-signup {
	background: linear-gradient(to right, #358B9A, #0BC2DF);
	cursor: pointer;
	font-family: montserrat;
	border: none;
	font-weight: 700;
}
.btn-gradient-signup:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}


a {
	color: grey;

}
a:hover {
	color: #d4d4d4;
	text-decoration : none;
}

/* footer .navbar {
    display: flex;
    justify-content: flex-start; 
    padding: 20px 3em;
    background: linear-gradient(90deg, #011007, #06191e, #02110E); /* Matches your navbar gradient */





