/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */


img {
	width: 80px;
	border-radius: 50%;
	animation-name: rotate;
	animation-duration: 120s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.rounded {
	width: 110px;
	/* border: 1px solid grey;
    border-radius: 5px; */
	/* text-align: center; */
}

.slightly-right {
	/* margin-left: auto; */
	margin-top: 25%;
	/* Adjust this value to position the image as desired */
}

.navbar {
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
}

.navbar .navbar-brand {
	color: #ffffff;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(90deg, #011007, #06191e, #02110E);
	/* Horizontal gradient */
	display: flex;
	flex-direction: column;
}

#paddle-1 {
	background-color: #0ce39d;
	padding: 5px 6px;
	margin-left: 1%;
	width: 5px;
	height: 80px;
	display: flex;
	border-radius: 5%;
	animation-name: drive;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#paddle-2 {
	background-color: #0ce39d;
	padding: 5px 6px;
	margin-right: 1%;
	width: 5px;
	height: 80px;
	display: flex;
	border-radius: 5%;
	animation-name: drive-2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#paddle-1:hover {
	background-color: magenta;
	transition: 1s;
}

#paddle-2:hover {
	background-color: magenta;
	transition: 1s;
}

.btn-custom {
	background-color: #041515;
	/* Same as the navbar color */
	border: none;
	/* Remove border */
	color: white;
	/* Ensure text is visible */
}

/* Change button background color on hover */
.btn-custom:hover {
	background-color: #282828;
}



.container-fluid {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#hook {
	font-size: 10em;
	font-family: zen tokyo zoo;
	letter-spacing: 15px;
	text-transform: uppercase;
	/* width: 100%;
	text-align: center; */
	line-height: 1.70em;
	outline: none;
	padding-top: 10%;
	border-color: rgb(255, 255, 255);
	color: rgb(255, 0, 255);
	cursor: pointer;
}

.navbar-brand,
.nav-link {
	color: #ffffff;
}

.btn-gradient-signup {
	background: linear-gradient(to right, #358B9A, #0BC2DF);
	cursor: pointer;
	font-family: montserrat;
	border: none;
	font-weight: 700;
}

.btn-gradient-signup:hover {
	background: linear-gradient(to right, #4b9db6, #4b9db6);
	box-shadow: #00dbff 0px 0px 10px;
}


#description {
	font-size: 16px;
	width: 400px;
	height: 40px;
	margin-bottom: 4.5%;
	padding: 10px;
	display: block;
	color: #d4d4d4;
	font-weight: 700;
}

.nav-item:hover {
	font-size: 16px;
	width: 100px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	display: block;
	color: #d4d4d4;
	font-weight: 700;
}

.navbar-nav {
	width: 50%;
	justify-content: space-around;
}


@keyframes drive {
	from{transform: translateY(0)}
	to {transform: translateY(800px)}
}
@keyframes drive-2 {
	from{transform: translateY(500px)}
	to {transform: translateY(0px)}
}
